# Compiled class files
*.class
bin/

# Package files
*.jar
*.war
*.ear

# IDE specific files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log
